/* fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

/* body */
body.editing{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}

/* web page */
.body{position:relative; width:100%;overflow:hidden;}
.webpage > .grid-leftside{background-image:url(/content/images/editor/layoutbg3.jpg); background-position:top right;width:1000px; position:absolute; left:-1000px; height:100%; z-index:480;}
.webpage > .grid-rightside{ background-image:url(/content/images/editor/layoutbg4.jpg); background-position:top left; width:1000px; position:absolute; right:-1000px; height:100%; z-index:480;}

/* editor */
.editor{position:fixed; font-size:13px; width:100%; height:0px; z-index:4000; font-family:Roboto, Arial, Tahoma}
.editor .toolbar{position:absolute; width:100%; height:50px; color:#e0e0e0; overflow:hidden; zoom:1; z-index:5000; text-align:center; cursor:default;}
.editor .toolbar .logo{float:left; width:136px; height:26px; padding:12px 0px 0px 10px;}
.editor .toolbar .logo svg{height:26px;}
.editor .toolbar .menu svg{height:25px;}
.editor .toolbar .menu{display:inline-block; width:240px; margin:0px auto; padding-top:12px;}
.editor .toolbar .menu .plus, .editor .toolbar .menu .grid, .editor .toolbar .menu .screens,
.editor .toolbar .menu .options, .editor .toolbar .menu .search{display:inline-block; width:25px; padding:0px 8px;}
.editor .toolbar .menu .screens{width:33px;}
.editor .toolbar .menu .screens svg{width:33px;}
.editor .toolbar .rightside{float:right; overflow:hidden;}
.editor .toolbar .rightside .savepage{float:left; padding:2px 2px 0px 2px; margin:10px 20px 0px 0px;}
.editor .nosave{opacity:0.3}
.editor .saving{opacity:1; animation:animate-saving 1s 0s infinite; -webkit-animation:animate-fade-out-in 1s 0s infinite;}
.editor .toolbar .rightside .profile{float:left; width:25px; padding:2px 2px 0px 2px; margin:10px 20px 0px 0px;}
.editor .toolbar .rightside .profile .photo{overflow:hidden; width:25px; height:25px; border-radius:50px;}
.editor .toolbar .rightside .profile:hover{padding:0px 0px 0px 0px; width:29px; cursor:pointer;}
.editor .toolbar .rightside .profile:hover .photo{width:29px; height:29px;}
.editor .toolbar .rightside .profile img{width:100%;}
.editor .toolbar .rightside .close{float:left;}
.editor .toolbar .rightside .close svg{height:15px;}
.editor .toolbar .close{float:right; width:15px; padding:17px 20px 0px 0px;}

/* tab */
.editor .tab{float:right; width:20px; height:20px; padding:5px; border-radius:50px; margin:10px 10px 0px 0px;}

/* window (interface) */
.editor .windows{position:absolute;}
.editor .window{z-index:4500; position:absolute;}
.interface > .content{overflow-y:auto;}
.interface .grip{width:100%; height:25px; cursor:move;}
.interface .title{float:left; padding:5px 0px 0px 10px; font-size:12px;}
.interface .close{float:right; width:12px; height:15px; margin:7px 5px 0px 0px; opacity:0.5;}
.interface .close:hover{opacity:1;}
.interface.arrow-top:after, .interface .arrow-top:after {bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-width: 10px; margin-left: -10px;}
.interface.arrow-right:after, .interface .arrow-right:after {left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-width: 10px; margin-top: -10px;}
.interface .resizable{float:right; margin:6px 10px 0px 10px; overflow:hidden; opacity:0.5; cursor:default;}
.interface .resizable:hover{opacity:1;}
.interface .resizable > div{float:left; margin:0px 5px;}

.interface .section-info{padding:4px 10px 4px 12px; white-space:nowrap; overflow:hidden; width:calc(100% - 22px);margin:10px 0px;}
.interface .section-icons{overflow:hidden; padding:10px;}
.interface .section-icons .column{float:left; padding:5px 10px 15px 10px; width:55px;}
.interface .section-icons .column .icon{width:36px; height:36px; margin:0px auto;}
.interface .section-icons .column .label{width:100%; text-align:center; font-size:13px; padding-top:5px;}
.interface .section-icons .column.small{padding:5px 5px 0px 5px; width:40px;}
.interface .section-icons .column.small .icon{width:25px; height:25px;}

/* heading tags for window */
.interface h1, .interface h2, .interface h3, 
.interface h4, .interface h5, .interface h6{font-weight:normal !important;margin:0px !important;padding:0px !important; font-family:Roboto !important;}
.interface h1{font-size:42px !important;}
.interface h2{font-size:32px !important;}
.interface h3{font-size:24px !important;}
.interface h4{font-size:17px !important;}
.interface h5{font-size:16px !important;}
.interface h6{font-size:12px !important;font-weight:bold !important;}    
    
.screen.tablet .interface h1{font-size:38px !important;}
.screen.tablet .interface h2{font-size:30px !important;}
.screen.tablet .interface h3{font-size:24px !important;}
.screen.tablet .interface h4{font-size:17px !important;}    
.screen.tablet .interface h5{font-size:16px !important;}
.screen.tablet .interface h6{font-size:12px !important;}

.screen.mobile .interface h1{font-size:28px !important;}
.screen.mobile .interface h2{font-size:24px !important;}
.screen.mobile .interface h3{font-size:20px !important;}
.screen.mobile .interface h4{font-size:17px !important;}
.screen.mobile .interface h5{font-size:15px !important;}
.screen.mobile .interface h6{font-size:12px !important;}

.screen.cell .interface h1{font-size:26px !important;}
.screen.cell .interface h2{font-size:22px !important;}
.screen.cell .interface h3{font-size:17px !important;}
.screen.cell .interface h4{font-size:16px !important;}
.screen.cell .interface h5{font-size:14px !important; font-weight:bold !important;}
.screen.cell .interface h6{font-size:12px !important;}

/* window rows */
.interface .row{min-height:22px; cursor:default; overflow:hidden;}

.interface .row.column{padding:7px 8px 0px 8px; overflow:hidden;}
.interface .row.column > .left{padding-right:8px; overflow:hidden;}
.interface .row.column > .right{padding-left:8px; overflow:hidden;}
.interface .row.two-columns{float:left; width:50%; min-height:37px;}
.interface .row.three-columns{float:left; width:33.332%;}
.interface .row.four-columns{float:left; width:24%;}
.interface .row.four-columns.first{width:28%;}
.interface .row.title{font-size:16px;}
.interface .row .hover-only{display:none;}
.interface .row.column:hover > .hover-only{display:block;}
.interface .row:hover > .column .hover-only{display:block;}
.interface .row:hover > .column-input .hover-only{display:block;}
.interface .row:hover > div > .hover-only{display:block;}
.interface .row.empty{height:10px; font-size:0px; clear:both;}
.interface .row.column.bottom{padding-bottom:5px;}

/* window columns */
.interface .row .column{padding:10px 5px 0px 7px; min-height:26px;}
.interface .column-label{float:left; width:80px; padding:10px 5px 0px 7px; min-height:26px; text-align:right; overflow:hidden; white-space:nowrap;}
.interface .column-input{float:left; padding:7px 5px 0px 7px; min-height:29px; width:calc(100% - 104px);}
.interface .column-input.label{padding:10px 5px 0px 7px; min-height:26px; overflow:hidden;}

.interface .column-row{clear:both; padding:10px 8px 0px 12px; min-height:26px; width:calc(100% - 20px);}
.interface .column-title{padding:7px 8px 0px 12px; min-height:19px; width:calc(100% - 20px);}
.interface .column-description{padding:7px 8px 10px 12px; min-height:19px; width:calc(100% - 20px);}
.interface .row.four-columns .column-label{width:50px;}
.interface .row.four-columns.first .column-label{width:80px;}
.interface .row.four-columns .column-input{ width:calc(100% - 79px);}
.interface .row.four-columns.first .column-input{ width:calc(100% - 104px);}
.interface .column-label.large{width:140px;}
.interface .column-input.large{width:calc(100% - 164px);}
.interface .column-label.with-button{width:80px;}
.interface .column-input.with-button{width:calc(100% - 214px);}
.interface .column-button{float:left; width:100px; padding:3px 5px 0px 5px;}
.interface .column-label.with-buttons{width:80px;}
.interface .column-input.with-buttons{width:calc(100% - 314px);}
.interface .column-buttons{float:left; width:200px; padding:3px 5px 0px 5px;}
.interface .column-button .button,
.interface .column-buttons .button{margin:0px 10px 4px 0px !important;}

.interface .row.menu{cursor:pointer;}
.interface .column-icon{float:left; width:25px; padding:5px 5px 3px 5px;}
.interface .row.menu .column-label{float:left; text-align:left; width:calc(100% - 45px); padding:10px 5px 0px 5px;}

/* window table (speadsheet) */
.interface table.spreadsheet td{padding:7px 7px 7px 7px; white-space:nowrap;}
.interface tr.color1 td{background-color:#272727; border-bottom:1px solid #1e1e1e;}
.interface tr.color1:hover td{background-color:#263039; border-bottom:1px solid #1e2227;}
.interface tr.color1:hover td:hover{background-color:#284355; border-bottom:1px solid #1f2c36;}

.interface tr.color2 td{background-color:#222222; border-bottom:1px solid #1c1c1c;}
.interface tr.color2:hover td{background-color:#242b31; border-bottom:1px solid #1d2023;}
.interface tr.color2:hover td:hover{background-color:#243a49; border-bottom:1px solid #1d282f;}

.interface tr.head td{font-weight:bold;}
.interface table.spreadsheet .hover-only{display:none;}
.interface table.spreadsheet tr:hover .hover-only{display:block;}

/*window top-menu*/
.interface .top-menu{width:calc(100% - 20px); padding:5px 10px 0px 10px;}

/*window tabs*/
.interface .tabs{overflow:hidden;}
.interface .tabs .item{float:left; padding:5px 8px; margin-right:4px; border-top-left-radius:4px; border-top-right-radius:4px; cursor:pointer;}

/*window top-menu tabs*/
.interface .top-menu .tabs{overflow:hidden;}
.interface .top-menu .tabs .item{float:left; padding:5px 8px; margin-right:4px; border-top-left-radius:4px; border-top-right-radius:4px; cursor:pointer;}

/* window menu-list */
.interface .menu-list{padding:10px 0px;}
.interface .menu-list .item{width:100%; overflow:hidden; cursor:pointer;}
.interface .menu-list .item.color1{background-color:#272727;}
.interface .menu-list .item.color2{background-color:#272727;}
.interface .menu-list .item.color1:hover{background-color:#284355;}
.interface .menu-list .item.color2:hover{background-color:#284355;}
.interface .menu-list .item:hover .icon{color:#33ffcc;}
.interface .menu-list .item .icon{float:left; width:15px; height:15px; padding:5px 5px 5px 10px;}
.interface .menu-list .item .label{float:left; width:calc(100% - 40px); padding:5px;}

/* window inputs */
.interface input, .interface textarea, .interface select
{border:none 0px !important; background-color:#eeeeee !important; color:#444444 !important; font-size:12px !important; padding:3px 3px !important; margin:0px 5px 0px 0px !important;}
.interface input[type="checkbox"]{margin:2px 9px 0px 0px !important;}
.interface input[type="checkbox"] + label{padding-right:5px;}
.interface select{padding:2px 3px !important;}
.interface label{position:relative; top:-2px;}
.interface .row:hover input, .interface .row:hover textarea, .interface .row:hover select{background-color:#fdffec !important;}
.interface input.long{width:calc(100% - 11px);}
.interface input.short{width:100px;}
.interface input.tiny{width:50px;}
.interface textarea{width:calc(100% - 11px);}

/* window sub-menu (sub-menu level #2) */
.interface .submenu{background-color:#22292f; position:relative; z-index:505;}
.interface .submenu .submenu-item{float:left; padding-top:6px; padding-right:11px; padding-bottom:7px; padding-left:11px;}
.interface .submenu .submenu-item a:link{color:#2bd3bd !important;}
.interface .submenu .submenu-item a:active{color:#36f0d8 !important}
.interface .submenu .submenu-item a:hover{color:#36f0d8 !important}
.interface .submenu .submenu-item a:visited{color:#2bd3bd !important;}
.interface .submenu .submenu-item.selected{background-color:#26394a;}
.interface .submenu .submenu-item.selected a{color:#ffffff !important;}
.interface .submenu .selected-arrow{position:relative; z-index:505;}

/* window button-menu (sub-menu level #3) */
.interface .buttonmenu{padding:0px 20px 20px 20px;}
.interface .buttonmenu .button-item{float:left; padding:10px 18px; border:4px solid transparent;}
.interface .buttonmenu .button-item a:link{color:#51d7ff !important;}
.interface .buttonmenu .button-item a:active{color:#36f0d8 !important}
.interface .buttonmenu .button-item a:hover{color:#36f0d8 !important}
.interface .buttonmenu .button-item a:visited{color:#51d7ff !important;}
.interface .buttonmenu .button-item.selected{border:4px solid #26394a;}
.interface .buttonmenu .button-item.selected a{color:#ffffff !important;}

/* window button */
.interface .buttons{padding:10px 10px 0px 10px;}
.interface .button{float:left; color:#ffffff; background-color:#285673; padding:7px 14px; margin:0px 10px 10px 0px; border-radius:7px; white-space:nowrap;}
.interface .button.center{float:none; display:inline-block;}
.interface .right > .button{margin:0px 0px 10px 10px;}
.interface .button:hover{ background-color:#38769d; cursor:pointer;}
.interface a.button{color:#ffffff !important; text-decoration:none !important;}
.interface .button.apply{background-color:#00aea0;}
.interface .button.apply:hover{background-color:#00cbba;}
.interface .button.cancel{background-color:#2e7e8d;}
.interface .button.cancel:hover{background-color:#279eb3;}
.interface .buttons .title{font-size:16px; padding-top:7px;}
.interface .button-outline{padding:4px 10px; font-size:12px; border:2px solid rgba(255,255,255,0.2); cursor:pointer; border-radius:7px; overflow:hidden;}
.interface .button-outline:hover{border-color:rgba(255,255,255,0.7);}

/* window splitter */
.window-splitter{background-image:url(/content/images/evolver/properties/split.png); background-repeat:repeat-x; height:2px; font-size:0px;}
.window-split-left{width:67px;}
.window-split-center{background-position:0px -6px; width:100%;}
.window-split-right{background-position:0px -3px; width:67px;}

/* vertical unsorted list with columns*/
ul.columns-first{float:left;}

/* window help tooltip */
.interface .help{display:inline-block;  margin-left:5px;}
.interface .help.hover-only{display:none;}
.interface .row:hover  div:not(.row) .help.hover-only{display:inline-block;}
.interface .help-icon{margin-bottom:-5px; height:18px; overflow:hidden; opacity:0.5; position:relative; cursor:pointer; width:18px; height:18px; overflow:hidden;}
.interface .help:hover .help-icon{opacity:1;}
.interface .help-icon svg{width:18px;}
.interface .column-row .help-icon{margin-bottom:-3px;}
.interface .buttons .help-icon{margin-top:8px;}
.interface .help-info{position:absolute; z-index:550; display:none; max-width:250px; min-width:180px; padding:15px; margin-top:10px; border-radius:4px;}
.interface .help:hover .help-info{display:block;}

/* window help column (right-hand side) */
.interface .column-help{float:left; margin:0px 0px 0px 20px; min-width:200px; max-width:600px;}
.interface .column-help > div{position:relative; padding:20px;}
.interface .column-help > div:after {right: 100%;top: 50px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: transparent;border-width: 10px;margin-top: -10px;}
.interface .column-help .row .column-row{padding-bottom:7px;}
.interface .column-help h4{padding-bottom:4px !important;}
.interface .column-help p{display:block; padding:5px 0px 0px 10px;}
.interface .column-help .icon-close{float:right; margin:7px;}

@media all and (max-width: 1440px){
    .interface .column-help{max-width:500px;}
}
@media all and (max-width: 1340px){
    .interface .column-help{max-width:400px;}
}

/* window messages */
.interface .font-error{color:#ff6c6c;}
.interface .message-alert{background-color:#006faf;-moz-border-radius: 8px;border-radius: 8px; color:#ffffff;font-size:14px;padding:4px 16px 6px 16px; margin:10px;}
.interface .message-alert a:link {color: #ffde00;text-decoration:none;}
.interface .message-alert a:visited {color: #ffde00;text-decoration:none;}
.interface .message-alert a:hover {color: #ffff66;text-decoration:underline;}
.interface .message-alert a:active {color: #ffffff;text-decoration:underline;}
.interface .message-error{background-color:#cc0000;-moz-border-radius: 8px;border-radius: 8px; color:#ffffff;font-size:14px;padding:4px 16px 6px 16px; margin:10px;}
.interface .message-error a:link {color: #ffcc00;text-decoration:none;}
.interface .message-error a:visited {color: #ffcc00;text-decoration:none;}
.interface .message-error a:hover {color: #ffffff;text-decoration:underline;}
.interface .message-error a:active {color: #ffffff;text-decoration:underline;}

/* window shadows */
.interface .drop-shadow-bottom-small{height:11px; width:100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.10) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.10)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.interface .drop-shadow-bottom-medium{height:14px; width:100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.20)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* Opera 11.20+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.interface .drop-shadow-top-small{height:11px; width:100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.10) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.10))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */

}

/* window misc elements */
.interface .screenshot{width:150px; height:100px; overflow:hidden;}
.interface .screenshot img{width:150px;}

/* dashboard */
.window.dashboard:not(.winDashboardInterface) > .content{position:relative; height:100%; max-height:calc(100% - 60px);}
.interface .dashboard-only, .interface .dash-only{display:none;}
.interface.dashboard .dashboard-only, .interface.dashboard .dash-only{display:block;}

/* dashboard interface window //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.dash-content{width:100%; max-width:100%; height:100%; margin:0px auto;}
.dash-menu{float:left; width:230px; height:100%;}
.dash-body{float:left; width:calc(100% - 230px);}
.dash-menu .menu-title{padding:3px 5px; white-space:normal; width:calc(100% - 30px);}
.dash-menu .row{margin:10px 0px 10px 0px !important;}
.dash-menu .row .column-icon{padding:10px 30px 3px 30px !important; border-width:0px !important;}
.dash-menu .row .column-label{padding:10px 40px 3px 5px !important; border-width:0px !important; width:calc(100% - 130px) !important; min-height:28px !important;}
.dash-menu .section-icon-menu{padding:0px 10px;}

/* dashboard body */
.interface.dashboard .header{width:calc(100% - 30px); padding:10px 20px 7px 20px;}
.interface.dashboard .header .title-label{padding:3px 0px 0px 16px;}

/* component quick menu //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.quickmenu-item{position:absolute; border-radius:7px !important;}

/* component properties window ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.winProperties .props-menu{width:calc(100% - 10px); padding:5px 5px 0px 5px;}
.winProperties .props-content{width:100%; overflow:hidden; padding-top:10px;}
.winProperties .props-save{width:100%; padding:12px 0px 7px 0px; text-align:center;}

/* components window /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.window #components{overflow:hidden;}
.window #component-list{padding:10px 0px 10px 10px;}
.window #component-list .list-item{float:left; background-color:#2a2a2a; width:56px; height:56px; margin:0px 10px 10px 0px; cursor:move;}
.window #component-list .list-item:hover{background-color:#1b454d;}
body > .target{position:absolute; z-index:4501; cursor:move;}

/* layers window /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.winLayers .layers-list .icon-delete{width:12px; height:12px; padding-top:2px;}
.winLayers .layers-list .icon-delete svg{width:12px; height:12px;}
.winLayers .layers-list .icon-settings{width:15px; height:15px;}
.winLayers .layers-list .sub{padding-left:15px;}
.winLayers .layers-list .expander{float:left; width:25px; height:36px;}
.winLayers .layers-list .row > .column.icon{float:left; width:20px;}
.winLayers .layers-list .row > .column.title{float:left; width:calc(100% - 69px);}
.winLayers .layers-list .row > .column.icon-img{margin:-5px -7px 0px -2px;}

/* designer window(s) ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.winDesign .designer-menu{padding:10px 0px;}
.winDesign .designer-menu .column{width:75px;}
.winDesigner .side-menu{float:left; padding:10px 5px; width:35px; height:100%;}
.winDesigner .ide{float:left; width:calc(100% - 45px);}
.winDesigner .code-files{float:left; width:150px; padding:10px 5px;}
.winDesigner .code-editor{float:left; width:calc(100% - 180px); height:600px; max-height:100%; padding:10px 10px;}
.winDesigner .code-ace{position:relative; width:100%; height:calc(100% - 25px);}
.winDesigner #ace-editor{position:absolute; top:0px; right:0px; bottom:0px; left:0px;}
.winDesigner .code-ace-save{float:right;}

/* pages window //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.winWebPages .content svg{width:15px; height:15px;}
.winWebPages .content .icon{padding-right:7px;}
.winWebPages .pages-treeview .icon-delete{width:12px; height:12px; padding-top:2px;}
.winWebPages .icon-delete{width:12px; height:12px; }
.winWebPages .icon-settings{width:15px; height:15px;}
.winWebPages .icon-folder{width:15px; height:15px;}
.winWebPages .pages-treeview .sub{padding-left:15px;}
.winWebPages .pages-treeview .expander{float:left; width:25px; height:36px;}
.winWebPages .pages-treeview .row > .column{float:left; width:calc(100% - 37px);}
.winWebPages .pages-treeview .item > .column > a{display: inline-block;max-width: calc(100% - 70px);overflow:hidden;white-space: nowrap;}
.winWebPages .pages-list{float:left; height:calc(100% - 40px);}
.winWebPages .pages-list ul{height:100%; column-width:250px; -webkit-column-width:250px; -moz-column-width:250px; list-style:none;}
.winWebPages .pages-list li{display:inline-block; width:300px;}
.winWebPages .pages-title{max-width:300px;}
.winWebPages .pages-list .hover-title{ min-width:150px;}
.winWebPages .pages-list .hover-title:hover{text-decoration:underline;}
.winWebPages.dashboard .pages-list{margin-left:20px;}

/* photo library window //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.winPhotos .top-menu{width:100%; padding:4px 0px; overflow:hidden;}
.winPhotos .top-menu .folder{float:left; padding-top:7px;}
.winPhotos .top-menu .folder-add{float:left; padding:7px 0px 0px 10px;}
.winPhotos .top-menu .folder-add .icon-plus{top:9px; left:3px;}
.winPhotos .top-menu .move-photos{float:left; padding:0px 0px 0px 10px;}
.winPhotos .top-menu .remove-photos{float:left; padding:0px 0px 0px 10px;}
.winPhotos .top-menu .remove-photos .column{width:50px !important;}
.winPhotos .top-menu .upload{float:right;}
.winPhotos .top-menu .dropzone{float:left; height:0px;min-height:0px; max-height:50px; overflow:hidden; width:calc(100% - 100px);}
.winPhotos .top-menu .msg-movephotos{display:inline-block; padding:20px 0px 0px 20px;}
.winPhotos .photo-list{padding:0px 10px 0px 10px; max-height:480px; overflow-y:auto;}
.winPhotos.dashboard .photo-list{max-height:calc(100% - 105px);}
.winPhotos .photo-list .photo{display:inline-block; position:relative; vertical-align:middle; text-align:center; padding:5px; margin:5px; width:100px; height:100px; overflow:hidden; background-image:url(/content/images/alphadark.gif);}
.winPhotos .photo-list .photo:hover{background-image:url(/content/images/alpha.gif);}
.winPhotos .photo-list .photo .tbl-cell{display:table-cell; vertical-align:middle; text-align:center; width:100px; height:100px;}
.winPhotos .photo-list .photo .img{max-height:100px; overflow:hidden;}
.winPhotos .info-bar{overflow:hidden; padding-bottom:5px; width:100%; text-align:center;}
.winPhotos .dialog-bar{overflow:hidden; padding:10px 0px 5px 0px; width:100%; text-align:center;}
.winPhotos .selected-folder{float:left; padding:5px 0px 0px 10px;}
.winPhotos .folder-info{float:right; padding:5px 70px 0px 0px;}
.winPhotos .folder-list{padding:10px; max-height:480px; overflow-y:auto;}
.winPhotos .folder-column{float:left; max-height:480px; width:190px;}
.winPhotos .folder-list .item{cursor:pointer;}
.winPhotos .folder-bar{width:calc(100% - 20px); padding:5px 10px 0px 10px;}
.winPhotos .folder-create{padding-top:20px; width:480px; margin:0px auto;}
.winPhotos .no-photos{width:100%; padding-top:50px; text-align:center;}
.winPhotos .photo-list .check{position:absolute; top:10px; left:75px; width:13px; height:16px; padding:1px 2px; background-color:#2bd3bd; border:2px solid #000000; text-align:center;}
.winPhotos .photo .hover-only{display:none;}
.winPhotos .photo:hover .hover-only{display:block;}

/* tools /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
body > .tools{position:absolute; height:0px; width:0px; z-index:3000; font-family:Roboto, Arial, Tahoma}
.tools > .borders{position:absolute; height:0px; width:0px;}
.component-select{position:absolute; color:#ffffff; background-color:rgba(255,162,0,0.5); cursor:move;}
.component-select .resize-side{position:absolute; background-color:#FFA200;}
.component-select .resize-corner{position:absolute; background-color:#FFA200;}
.component-select .resize-top, .component-select .resize-bottom{cursor:ns-resize;}
.component-select .resize-left, .component-select .resize-right{cursor:ew-resize;}
.component-select .resize-left-top, .component-select .resize-top-left, .component-select .resize-right-bottom, .component-select .resize-bottom-right{cursor:nwse-resize;}
.component-select .resize-top-right, .component-select .resize-right-top, .component-select .resize-bottom-left, .component-select .resize-left-bottom{cursor:nesw-resize;}
.component-select.forpanel .resize-top, .component-select.forpanel .resize-bottom{cursor:default;}
.component-select.forpanel .resize-left, .component-select.forpanel .resize-right{cursor:default;}
.component-select.forpanel .resize-left-top, .component-select.forpanel .resize-top-left, .component-select.forpanel .resize-right-bottom, .component-select.forpanel .resize-bottom-right{cursor:default;}
.component-select.forpanel .resize-top-right, .component-select.forpanel .resize-right-top, .component-select.forpanel .resize-bottom-left, .component-select.forpanel .resize-left-bottom{cursor:default;}
.component-select.isalsopanel .resize-top, .component-select.isalsopanel .resize-bottom{cursor:ns-resize;}
.component-select.isalsopanel .resize-left, .component-select.isalsopanel .resize-right{cursor:ew-resize;}
.component-select.isalsopanel .resize-left-top, .component-select.isalsopanel .resize-top-left, .component-select.isalsopanel .resize-right-bottom, .component-select.isalsopanel .resize-bottom-right{cursor:nwse-resize;}
.component-select.isalsopanel .resize-top-right, .component-select.isalsopanel .resize-right-top, .component-select.isalsopanel .resize-bottom-left, .component-select.isalsopanel .resize-left-bottom{cursor:nesw-resize;}
.component-select .arrow-down{position:absolute; width:40px; height:15px; background-color:#FFA200; color:#ffffff; cursor:ns-resize;}
.component-select .arrow-down.above{border-top-left-radius:4px; border-top-right-radius:4px;}
.component-select .arrow-down.below{border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.component-select .icon-arrow-down{width:16px; height:5px; margin:0px auto; position:relative; top:-2px;}
.component-select .arrow-down:hover{background-color:#FFBA00;}
.component-select .menu{position:absolute; cursor:default; font-size:5px;}
.component-select .menu .item{float:left; width:40px; height:27px; padding:3px 0px; background-color:#FFA200; cursor:pointer;}
.component-select .menu .item:hover{background-color:#FFBA00;}
.component-select .menu .item > div{margin:0px auto;}
.component-select .menu .icon-options{width:17px; height:17px; padding-top:5px;}
.component-select .menu .icon-options svg{width:17px; height:17px;}
.component-select .menu .icon-position{width:22px; height:19px; padding-top:4px;}
.component-select .menu .icon-position svg{width:22px; height:19px;}
.component-select .menu .icon-layer{width:18px; height:18px; padding-top:5px;}
.component-select .menu .icon-layer svg{width:18px; height:18px;}
.component-select .menu .icon-style{width:17px; height:17px; padding-top:5px;}
.component-select .menu .icon-style svg{width:17px; height:17px;}
.component-select .menu .icon-close{width:15px; height:15px; padding-top:6px;}
.component-select .menu .icon-close svg{width:20px; height:20px;}
.component-select .menu.inside .item.first{border-top-left-radius:4px;}
.component-select .menu.inside .item.last{border-bottom-left-radius:4px;}
.component-select .menu.outside .item.first{border-top-right-radius:4px;}
.component-select .menu.outside .item.last{border-bottom-right-radius:4px;}

.component-select .properties{position:absolute; overflow:hidden; border-radius:4px;}
.component-select .addons{position:absolute;}

/* component select options window */
.component-select .row{min-height:22px; cursor:default; overflow:hidden;}

.component-select .row.column{padding:7px 8px 0px 12px;}
.component-select .row.title{font-size:16px;}
.component-select .row .hover-only{display:none;}
.component-select .row:hover div:not(.row) .hover-only{display:block;}
.component-select .row.empty{height:10px; font-size:0px; clear:both;}

.component-select .row .column{padding:10px 5px 0px 7px; min-height:26px;}
.component-select .column-label{float:left; width:50px; padding:10px 5px 0px 7px; min-height:26px; text-align:right; overflow:hidden; white-space:nowrap;}
.component-select .column-input{float:left; padding:7px 5px 0px 7px; min-height:29px; width:calc(100% - 74px);}
.component-select .column-input.label{padding:10px 5px 0px 7px; min-height:26px; overflow:hidden;}

.component-select .column-row{clear:both; padding:10px 8px 0px 12px; min-height:26px; width:calc(100% - 20px);}
.component-select .column-title{padding:7px 8px 0px 12px; min-height:19px; width:calc(100% - 20px);}
.component-select .column-description{padding:7px 8px 10px 12px; min-height:19px; width:calc(100% - 20px);}

.component-select .buttons{padding:10px 10px 0px 10px;}
.component-select .button{float:left; color:#ffffff; padding:10px 18px; margin:0px 10px 10px 0px; border-radius:7px; white-space:nowrap;}
.component-select .button:hover{cursor:pointer;}
.component-select a.button{color:#ffffff !important; text-decoration:none !important;}
.component-select .buttons .title{font-size:16px; padding-top:7px;}

/* panel & area borders */
.tools .borders .page-panel-border{position:absolute; border:3px dashed #0020e2; box-sizing:border-box; animation:animate-fade-in-out 1s 0s infinite; -webkit-animation:animate-fade-in-out 1s 0s infinite;}
.tools .borders .panel-cell-border{position:absolute; border:3px dashed #00b00e; box-sizing:border-box; animation:animate-fade-in-out 1s 0s infinite; -webkit-animation:animate-fade-in-out 1s 0s infinite;}
@keyframes animate-fade-in-out{0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@-webkit-keyframes animate-fade-in-out{0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@keyframes animate-fade-out-in{0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes animate-fade-out-in{0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}

/* component-specific styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.type-textbox .bold, .type-textbox .bold *{font-weight:bold;}
.type-textbox .italic, .type-textbox .italic *{font-style:italic;}
.type-textbox .linethru, .type-textbox .linethru *{text-decoration:line-through;}
.type-textbox .underline, .type-textbox .underline *{text-decoration:underline;}
.type-textbox .indent{text-indent:30px; display:inline-block;}
.type-textbox .alignleft{text-align:left; display:block;}
.type-textbox .aligncenter{text-align:center; display:block;}
.type-textbox .alignright{text-align:right; display:block;}
.type-textbox .textedit{width:100%; height:100%;}
.type-textbox .textedit.editing{border:2px dashed rgba(0, 220, 166, 0.5); margin:-12px; padding:10px;}
.tools .texteditor-toolbar, 
.tools .texteditor-btnselect{position:absolute; padding:7px; white-space:nowrap; border-radius:4px;}
.tools .texteditor-toolbar .button{display:inline-block; padding:0px 5px; width:18px; height:18px;}
.tools .texteditor-btnselect .button{display:inline-block; padding:0px 5px; width:22px; height:19px;}

/* dropzone styling /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@-webkit-keyframes passing-through {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30%,70% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
    100% {opacity: 0;-webkit-transform: translateY(-40px);-moz-transform: translateY(-40px);-ms-transform: translateY(-40px);-o-transform: translateY(-40px);transform: translateY(-40px);}
}
@-moz-keyframes passing-through {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30%,70% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
    100% {opacity: 0;-webkit-transform: translateY(-40px);-moz-transform: translateY(-40px);-ms-transform: translateY(-40px);-o-transform: translateY(-40px);transform: translateY(-40px);}
}
@keyframes passing-through {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30%,70% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
    100% {opacity: 0;-webkit-transform: translateY(-40px);-moz-transform: translateY(-40px);-ms-transform: translateY(-40px);-o-transform: translateY(-40px);transform: translateY(-40px);}
}
@-webkit-keyframes slide-in {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
}
@-moz-keyframes slide-in {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes slide-in {
    0% {opacity: 0;-webkit-transform: translateY(40px);-moz-transform: translateY(40px);-ms-transform: translateY(40px);-o-transform: translateY(40px);transform: translateY(40px);}
    30% {opacity: 1;-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-ms-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}
}
@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
    10% {-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
    20% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
}
@-moz-keyframes pulse {
    0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
    10% {-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
    20% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
}
@keyframes pulse {
    0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
    10% {-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
    20% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
}
.dropzone,.dropzone * {box-sizing: border-box}
.dropzone {}
.dropzone.dz-clickable {cursor: pointer}
.dropzone.dz-clickable * {cursor: default}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {cursor: pointer}
.dropzone.dz-started .dz-message {display: none}
.dropzone.dz-drag-hover {border-style: solid}
.dropzone.dz-drag-hover .dz-message {opacity: .5}
.dropzone .dz-message {text-align: center;margin: 2em 0}
.dropzone .dz-preview {position: relative;display: inline-block;vertical-align: top;margin: 5px;min-height: 40px}
.dropzone .dz-preview:hover {z-index: 1000}
.dropzone .dz-preview:hover .dz-details {opacity: 1}
.dropzone .dz-preview.dz-file-preview .dz-image {border-radius: 10px;background: rgba(0, 0, 0, 0.2)}
.dropzone .dz-preview.dz-file-preview .dz-details {opacity: 1}
.dropzone .dz-preview.dz-image-preview {background: rgba(0, 0, 0, 0.2)}
.dropzone .dz-preview.dz-image-preview .dz-details {-webkit-transition: opacity .2s linear;-moz-transition: opacity .2s linear;-ms-transition: opacity .2s linear;-o-transition: opacity .2s linear;transition: opacity .2s linear}
.dropzone .dz-preview .dz-remove {font-size: 14px;text-align: center;display: block;cursor: pointer;border: none}
.dropzone .dz-preview .dz-remove:hover {text-decoration: underline}
.dropzone .dz-preview:hover .dz-details {opacity: 1}
.dropzone .dz-preview .dz-details {z-index: 20;position: absolute;top: 0;left: 0;opacity: 0;font-size: 13px;min-width: 100%;max-width: 100%;padding: 2em 1em;text-align: center;color: rgba(0, 0, 0, 0.9);line-height: 150%}
.dropzone .dz-preview .dz-details .dz-size {margin-bottom: 1em;font-size: 16px}
.dropzone .dz-preview .dz-details .dz-filename {white-space: nowrap}
.dropzone .dz-preview .dz-details .dz-filename:hover span {background: rgba(255, 255, 255, 0.8);}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {overflow: hidden;text-overflow: ellipsis}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {border: 1px solid transparent}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {padding: 0 .4em;border-radius: 3px}
.dropzone .dz-preview:hover .dz-image img {-webkit-transform: scale(1.05, 1.05);-moz-transform: scale(1.05, 1.05);-ms-transform: scale(1.05, 1.05);-o-transform: scale(1.05, 1.05);transform: scale(1.05, 1.05);-webkit-filter: blur(8px);filter: blur(8px)}
.dropzone .dz-preview .dz-image {border-radius: 5px;overflow: hidden;width: 50px;height: 40px;position: relative;display: block;z-index: 10}
.dropzone .dz-preview .dz-image img {display: block}
.dropzone .dz-preview.dz-success .dz-success-mark {-webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)}
.dropzone .dz-preview.dz-error .dz-error-mark {opacity: 1;-webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {pointer-events: none;opacity: 0;z-index: 500;position: absolute;display: block;top: 50%;left: 50%;margin-left: -14px;margin-top: -14px}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {display: block;width: 30px;height: 30px}
.dropzone .dz-preview.dz-processing .dz-progress {opacity: 1;-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-ms-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear}
.dropzone .dz-preview.dz-complete .dz-progress {opacity: 0;-webkit-transition: opacity .4s ease-in;-moz-transition: opacity .4s ease-in;-ms-transition: opacity .4s ease-in;-o-transition: opacity .4s ease-in;transition: opacity .4s ease-in}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {-webkit-animation: pulse 6s ease infinite;-moz-animation: pulse 6s ease infinite;-ms-animation: pulse 6s ease infinite;-o-animation: pulse 6s ease infinite;animation: pulse 6s ease infinite}
.dropzone .dz-preview .dz-progress {opacity: 1;z-index: 1000;pointer-events: none;position: absolute;height: 8px;left: 50%;top: 50%;margin-top: -8px;width: 40px;margin-left: -20px;background: rgba(255, 255, 255, 0.9);-webkit-transform: scale(1);border-radius: 3px;overflow: hidden}
.dropzone .dz-preview .dz-progress .dz-upload {background: #333;background: linear-gradient(to bottom, #666, #444);position: absolute;top: 0;left: 0;bottom: 0;width: 0;-webkit-transition: width 300ms ease-in-out;-moz-transition: width 300ms ease-in-out;-ms-transition: width 300ms ease-in-out;-o-transition: width 300ms ease-in-out;transition: width 300ms ease-in-out}
.dropzone .dz-preview.dz-error .dz-error-message {display: block}
.dropzone .dz-preview.dz-error:hover .dz-error-message {opacity: 1;pointer-events: auto}
.dropzone .dz-preview .dz-error-message {pointer-events: none;z-index: 1000;position: absolute;display: block;display: none;opacity: 0;-webkit-transition: opacity .3s ease;-moz-transition: opacity .3s ease;-ms-transition: opacity .3s ease;-o-transition: opacity .3s ease;transition: opacity .3s ease;border-radius: 8px;font-size: 13px;top: 130px;left: -10px;width: 0;height: 0;overflow: hidden;background: #be2626;background: linear-gradient(to bottom, #be2626, #a92222);padding: .5em 1.2em;color: #fff}